{% extends 'testapp/base.html'%}
{% block title%}Cart{% endblock title%}
{% block content%}
  <div class="cart-row">
    <div class="col-lg-12 product">
        <div class="head">
          <a id="cart-left" href="/" type="button" class="btn btn-info">Back To Store</a>
          <hr>
          <br>

          <div class="">
            <h3>  Total Items in Cart : {{order.get_cart_items}}</h3>
          <table >
            <thead>
              <th id="thh"></th>
              <th id="thh"><strong><h3>Item</h3></strong></th>
              <th id="thh"><strong><h3>Price</h3></strong></th>
              <th id="thh"><strong><h3>Quantity</h3></strong></th>
              <th id="thh"><strong><h3>Total</h3></strong></th>
              <hr>
            </thead>
            {% for item in items%}
            <tr>
              <td><img height="100px" width="150px" src="{{item.product.imageURL}}" alt="Unable to Load"></td>
              <td>{{item.product.name}}</td>
              <td>{{item.product.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.get_total}}</td>
            </tr>
            {%endfor%}
          </table>

          <div>
        </div>
        <br>
        <div class="foot">

          <h2>Total Amount Payable :{{order.get_cart_total}}</h2>
          <a href="/checkout" class="btn btn-success btn-lg btn-block">Checkout</a>
        </div>
    </div>
  </div>
  </div>
{% endblock content%}
