#cart-icon{
  width: 55px;
  height: 50px;
  border: 3px black solid;
  margin-top: 5px:
}

.btn{
  color: black;
}

.thumbnail{
  margin-left:45px;
  margin-top: 20px;
  height:100%;
  width:80%;
  box-shadow: 10px 10px 5px grey;
}

.product
{
  text-align: center;
  border: 1px solid black;
}

.logoutbtn{
  border:2px black solid;
}

#cart-left{
  float: left;
}

.cart-row
{
    margin-left: 100px;
    margin-right: 100px;
}

.head{
  box-shadow: 10px 10px 5px grey;
}

.foot{
  box-shadow: 10px 10px 5px grey;
}

.lef{
  box-shadow: 10px 10px 5px grey;
}

#cartimg
{
  height: 150px;
  width: 250px;
}

.cbtn
{
  margin-bottom: 5px;
}

.Checkoutform
{
  font-size: 20px;
  font-weight:800;
  text-align:left;
  color: black;
}

.info
{
  margin-left: 30px;
  margin-right: 30px;

  box-shadow: 10px 10px 5px grey;
}

.viewtemp
{
  box-shadow: 10px 10px 5px grey;
}

.viewtempname{
  text-align: center;
  margin-top: 20px:
}
