<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Interests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      <div class="col-sm-7 big">
        <img height="400px" widget=650px" src="{% static 'images/img1.jpg' %}" alt="unable to load">
      </div>
      <div class="col-sm-4">
        <img  height="200px" widget="350px" src="{% static 'images/img2.jpg' %}" alt="unable to load">
        <img  height="300px" widget="450px" src="{% static 'images/img3.jpg' %}" alt="unable to load">
      </div>
    </div>

  </body>
</html>
