{% extends 'testapp/base.html'%}
{% load static %}
{% block title%}Home{% endblock title%}
{% block content%}
    <div class="col-sm-12 aboutimage">
      <div class="container">
        <div class="jumbotron">
        <h1>Thanks For Visiting </h1>
        <h3>about organization</h3>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
           magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>Contact Details</h3>
        <ul>
          <li>Office Contact no: 8668348534</li>
          <li><p>Office Address : Lorem ipsum dolor sit amet, consecte
                                4133 State:LAajdan.</p></li>
          <li><a href="www.facebook.com">Facebook</a></li>
          <li><a href="www.gmail.com">Facebook</a>Mail</li>
        </ul>
        </div>
      </div>
    </div>
{% endblock content%}


addtocar
