<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.css">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.css">
    <title>demostocks</title>
  </head>
  <body>
    {{ div | safe }}
    {{ div2 | safe }}
    {{ div3 | safe }}
  </body>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.1.1.min.js"></script>
  {{ script | safe }}
  {{ script2 | safe }}
  {{ script3 | safe }}
</html>
